include head
    include header
include slider

div(class='album bg-light')
    div(class='container py-3')
        h2.py-3 #{category.name}
        div.pb-5 #{category.description}
        div(class='row')
            each val, index in goods
                include card
include footer