div(class='container pt-4')
    footer(class='pt-4 my-md-5 pt-md-5 border-top pt-3')
        div.container
            div.row
                div(class='col-12 col-md')
                    ul(class='list-unstyled text-small')
                        li(class='mb-2')
                            a(href='/') Shopper.ru
                        li(class='mb-1')
                            img(class="mb-2" src="https://bootstrap-4.ru/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="24" height="19")
                        li(class='mb-1')
                            small(class="d-block mb-2 text-muted") Goryounov © 2021
                            small(class="d-block mb-3 text-muted") Сайт не является настоящим магазином
                div(class='col-12 col-md')
                    h5.bold Каталог
                    ul(class='list-unstyled text-small')
                        li
                            a(href=`/category?id=1`) Ноутбуки
                        li
                            a(href=`/category?id=2`) Смартфоны
                        li
                            a(href=`/category?id=3`) Телевизоры
                div(class='col-12 col-md')
                    h5.bold О нас
                    ul(class='list-unstyled text-small')
                        li
                            a(href=`/payment`) Оплата
                        li
                            a(href=`/shipping`) Доставка

script(src="https://kit.fontawesome.com/eaafe94a83.js" crossorigin="anonymous")
script(src="//cdn.jsdelivr.net/npm/sweetalert2@11")
script( src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
script( src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
script( src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
script(src='/js/nav.js')
script(src='/js/cart.js')
script(src='/js/slider.js')