include head
    include header
include slider

div(class='album bg-light')
    div(class='container py-3')
        h2.py-3 Доставка
        div.pb-5
            p Здесь представлены все способы доставки
include footer